<!-- <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main"
    ><br>
    <ng-include src="'./side_nav.html'"></ng-include>
</nav> -->
<div class="main-content">
    <!-- <h1 class="<h1 class="display-1"></h1>">404 Page</h1> -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <br><br><br><br>
                <div class="text-center float-center">
                    <div class="align-middle">
                        <!-- Brand -->
                        <a class="navbar-brand pt-0" href="dashboard_p">
                            <img src="./assets/img/brand/blue.png" class="navbar-brand-img" alt="..."
                                style="height: 100px; width: 320px;">
                        </a>

                    </div>

                    <h1 class="display-1 align-middle" style="font-size: 5em;">Page Not Found</h1>

                    <a class="navbar-brand pt-0" href="dashboard_p">
                        <button class="btn btn-primary text-uppercase">Return Home</button>
                    </a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

</div>
<ng-include src="'templates/session_timeout_script.html'"></ng-include>