<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <br><br><br><br>

                <div class="text-center">
                    
                    <!-- Brand -->
                    <div class="align-middle">
                        <a class="navbar-brand pt-0" href="#">
                            <img src="./assets/img/brand/blue.png"
                                 class="navbar-brand-img"
                                 alt="Company Logo"
                                 style="height: 100px; width: 320px;">
                        </a>
                    </div>

                    <!-- Maintenance Message -->
                    <h1 class="display-1" style="font-size: 4.5em;">
                        Under Maintenance
                    </h1>

                    <p class="lead mt-4">
                        We’re currently performing scheduled maintenance.
                        <br>
                        Please check back shortly.
                    </p>

                    <br>

                    <!-- Optional Back Button -->
                    <a href="dashboard_p">
                        <button class="btn btn-primary text-uppercase">
                            Go to Home
                        </button>
                    </a>

                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<ng-include src="'templates/session_timeout_script.html'"></ng-include>