<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main"><br>
  <ng-include src="'./side_nav.html'" ng-controller="SideNavCtrl"></ng-include>
</nav>

<div class="main-content">
  <!-- Navbar -->
  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="dashboard_p"
        ng-if="_user_info_role == 'assigner_and_admin'"> <i class="fa fa-arrow-left 2x"></i>&nbsp;&nbsp;
        &nbsp;&nbsp;Return</a>

      <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="dashboard_t"
        ng-if="_user_info_role == 'developer' " ng-if="_user_info_role == 'department_head'"> <i
          class="fa fa-arrow-left 2x"></i>&nbsp;&nbsp;
        &nbsp;&nbsp;Return</a>
      &nbsp;

      <!-- <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
        ng-href="/add_task?project_id={{project.project_id}}&project_name={{project.name}}&department_id={{project.department_id}}&start_date={{project.start_date}}&end_date={{project.end_date}}"
        ng-if="user_info.role == 'assigner'">
        <button type="button" class="text-uppercase btn btn-secondary btn-sm">
          Create Task
          <span class="ni ni-fat-add"></span>
        </button>
      </a> -->

      <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text" ng-model="tableSearch" style="height: auto;">
          </div>
        </div>
      </form>


      <!-- User -->
      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media align-items-center">

              <span class="avatar avatar-sm rounded-circle" ng-if="profile_pic_true == null">
                <span ng-if="user_info.gender == 'Male'">
                  <img src="./assets/img/theme/m_profile_icon.jpg" class="rounded-circle">
                </span>
                <span ng-if="user_info.gender == 'Female'">
                  <img src="./assets/img/theme/f_profile_icon.png" class="rounded-circle">
                </span>
                <!-- <img alt="Image placeholder" src="./assets/img/theme/team-4-800x800.jpg"> -->
              </span>

              <span class="avatar avatar-sm rounded-circle" ng-if="profile_pic_true != null">
                <img alt="Image placeholder" ng-src="{{ profile_pic }}">
              </span>


              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold text-uppercase">{{user_info.username}}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome {{user_info.username}}</h6>
            </div>
            <a href="profile" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Settings</span>
            </a>
            <a class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Activity</span>
            </a>
            <a class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ng-click="logout()">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header -->
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-6">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->

        <div class="row">

          <div class="col-xl-12 col-lg-12" id="card-for-task__tasks">
            <div class="card" id="card-task_tasks">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-9">
                    <h2 class="card-title text-primary text-uppercase">PROJ-0000{{ project.project_id }} -
                      {{ project.name }}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    </h2>

                  </div>
                  <div class="col-md-3 text-center">

                    <div class="dropdown float-right">
                      <a class="btn btn-default btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       PROJECT ACTIONS

                      </a>
                    
                      <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <a class="dropdown-item text-uppercase" data-toggle="modal"
                        data-target="#modal-approve" ng-if="project.project_status == 'drafts'"
                        ng-hide="user_info.role == 'assigner' || (user_info.is_dept_head == '1' && user_info.department_id ==
                        project.department_id)" ng-hide="!project.tasks.length" >
                          Submit for approval
                        </a>
                         -->
                         
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <a class="dropdown-item text-uppercase" data-toggle="modal"
                        data-target="#modal-approve" ng-if="project.project_status == 'drafts' && (user_info.role == 'assigner' || (user_info.is_dept_head == '1' && user_info.department_id ==
                        project.department_id) || user_info.role == 'developer' )" ng-hide="!project.tasks.length" >
                          Submit for approval
                        </a>

                        <a class="dropdown-item text-uppercase" data-toggle="modal"
                        data-target="#modal-approve" ng-if="(project.project_status == 'unapproved' && user_info.can_approve == '1' &&
                        project.department_id == user_info.department_id) || (user_info.role == 'admin' &&
                        project.project_status == 'unapproved' && user_info.can_approve == '1' &&
                        project.department_id == user_info.department_id)">
                            Approve
                        </a>

                        <a class="dropdown-item text-uppercase"  ng-href="add_task?project_id={{project.project_id}}&project_name={{project.name}}&department_id={{project.department_id}}&start_date={{project.start_date}}&end_date={{project.end_date}}"
                      ng-if="user_info.role == 'assigner' || ( user_info.is_dept_head == '1' && user_info.department_id == project.department_id) || user_info.role == 'developer'">
                          Add Task
                      </a>

                        <a class="dropdown-item text-uppercase" ng-href="edit_project/{{project.project_id}}" ng-if="user_info.role == 'assigner' || (user_info.is_dept_head == '1' && project.is_approved == 0)">
                          Edit Project
                      </a>

                      <!-- || ( user_info.is_dept_head == '1' && user_info.department_id == project.department_id) -->

                      <!-- ng-if="user_info.role == 'assigner' || ( user_info.is_dept_head == '1' && user_info.department_id == project.department_id)" -->
                        <a class="dropdown-item text-uppercase" data-toggle="modal" ng-if="project.project_status == 'drafts' || project.project_status == 'unapproved' || project.project_status='approved'"  data-target="#modal-approve" ng-if="project.owner_id == user_info.user_id">
                          Suspend Project
                      </a>

                        <a class="dropdown-item text-uppercase" data-toggle="modal"
                        data-target="#modal-reassign" ng-if="user_info.is_dept_head == '1' && user_info.department_id ==
                        project.department_id">
                        Re-assign Project
                      </a>

                      </div>
                    </div>

<!--                     
                    <a class="h4 ml-5 text-white text-uppercase d-none d-lg-inline-block"
                      ng-href="add_task?project_id={{project.project_id}}&project_name={{project.name}}&department_id={{project.department_id}}&start_date={{project.start_date}}&end_date={{project.end_date}}"
                      ng-if="user_info.role == 'assigner'">
                      <button type="button" class="text-uppercase btn btn-primary btn-sm">
                        Add Task
                        <span class="ni ni-fat-add"></span>
                      </button>
                    </a> -->


                    <!-- <a class="h4 ml-5 text-white text-uppercase d-none d-lg-inline-block"
                      ng-href="edit_project/{{project.project_id}}" ng-if="user_info.role == 'assigner'">
                      <button type="button" class="text-uppercase btn btn-warning btn-sm">
                        Edit Project Task
                        <span class="ni ni-fat-add"></span>
                      </button>
                    </a> -->

                    <!-- <button type="button" class="text-uppercase btn btn-warning btn-sm float-right" data-toggle="modal"
                      data-target="#modal-reassign" ng-if="user_info.is_dept_head == '1' && user_info.department_id ==
                      project.department_id">
                      Re-assign Project
                    
                    </button> -->

                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    <!-- <button class="btn btn-sm btn-success text-uppercase float-right" data-toggle="modal"
                      data-target="#modal-approve" ng-if="user_info.can_approve == '1'">
                      {{ project.project_status}}
                    </button>

                    <button class="btn btn-sm btn-success text-uppercase float-right"
                      ng-if="user_info.can_approve == '0'">
                      {{ project.project_status}}
                    </button> -->

                    <!-- <button class="btn btn-sm btn-info text-uppercase float-right" data-toggle="modal"
                      data-target="#modal-approve" ng-if="project.project_status == 'drafts'"
                      ng-hide="user_info.role != 'assigner'" ng-hide="!project.tasks.length">
                      Submit for approval
                    </button> -->

                    <!-- <button class="btn btn-sm btn-info text-uppercase float-right" data-toggle="modal"
                      data-target="#modal-approve" ng-if="(project.project_status == 'unapproved' && user_info.can_approve == '1' &&
                      project.department_id == user_info.department_id) || (user_info.role == 'admin' &&
                      project.project_status == 'unapproved' && user_info.can_approve == '1' &&
                      project.department_id == user_info.department_id)">
                      Approve
                    </button> -->

                    <!-- <button class="btn btn-sm btn-success float-right" ng-if="approve_btn"
                      ng-click="approve_project(user_info.user_id, project.project_id)" data-toggle="modal"
                      data-target="#modal-approve">
                      Approve
                      Now {{user_info.role}}
                    </button> -->

                    <div class="icon icon-shape bg-{{percentage_color}} mt-4  text-white rounded-circle shadow "
                      id="card-percentage__tasks">
                      {{project_avg | number: 0}}%
                    </div>


                  </div>

                  <div class="col-md-4">
                    <span class="text-primary">Version:</span>
                    &nbsp;&nbsp;{{ project.version_name }}
                  </div>
                  <div class="col-md-4">
                    <span class="text-primary">Department:</span>
                    &nbsp;&nbsp;<span class="">{{ project.department }}</span>
                  </div>
                  <!-- <div class="col-md-4"> -->
                    <!-- <div class="icon icon-shape bg-{{percentage_color}} text-white rounded-circle shadow "
                      id="card-percentage__tasks">
                      {{project_avg | number: 0}}%
                    </div> -->
                  <!-- </div> -->

                  <div class="col-md-4">
                    <span class="text-primary">Start Date:</span>
                    &nbsp;&nbsp;{{ project.start_date }}
                  </div>
                  <div class="col-md-4">
                    <span class="text-primary">End Date:</span>
                    &nbsp;&nbsp;{{ project.end_date }}
                  </div>
                  <div class="col-md-4">
                    <span class="text-primary">Created On:</span>
                    &nbsp;&nbsp;{{ project.created_at }}
                  </div>
                  <div class="col-md-4">
                    <span class="text-primary">Project Status:</span> &nbsp;&nbsp;
                    <span class=" badge badge-info">{{ project.project_status}}</span>
                  </div>
                  <div class="col-md-4">
                    <span class="text-primary">Created by:</span> &nbsp;&nbsp; 
                    {{ project.posted_by_name }}
                  </div>
                  <div class="col-md-4" ng-if="project.project_status == 'approved'">
                    <span class="text-primary">Approved by:</span> &nbsp;&nbsp;
                    {{ project.approved_by_name}}
                    <!-- <span class=" badge badge-info">{{ project.comment_by_name}}</span> -->
                  </div>
                  
                  <div class="col-md-4">
                    <span class="text-primary">Owner:</span> &nbsp;&nbsp; 
                    {{ project.project_owner }}
                  </div>

                  <div class="col-md-4">
                    <span class="text-primary">Document:</span>
                    <span class=""><a ng-href="{{myConfig_file_url}}{{project.attach}}" target="_blank" download>
                      <!-- <strong ng-if="project.attach != ''">
                        &nbsp; &nbsp; <i class="fa fa-paperclip text-blue" id=""></i>
                      </strong> -->
                      {{ project.attach }}
                    
                      </a>
                    </span>
                  </div>
                  
                  <div class="col-md-4"></div>
                  <div class="col-md-4"></div>

                  <div class="col-md-8"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-6 ">
<!-- 
                    <a class="h4 ml-5 text-white text-uppercase d-none d-lg-inline-block"
                      ng-href="add_task?project_id={{project.project_id}}&project_name={{project.name}}&department_id={{project.department_id}}&start_date={{project.start_date}}&end_date={{project.end_date}}"
                      ng-if="user_info.role == 'assigner'">
                      <button type="button" class="text-uppercase btn btn-primary btn-sm">
                        Add Task
                        <span class="ni ni-fat-add"></span>
                      </button>
                    </a>


                    <a class="h4 ml-5 text-white text-uppercase d-none d-lg-inline-block"
                      ng-href="edit_project/{{project.project_id}}" ng-if="user_info.role == 'assigner'">
                      <button type="button" class="text-uppercase btn btn-warning btn-sm">
                        Edit Project Task
                        <span class="ni ni-fat-add"></span>
                      </button>
                    </a>

                    <button type="button" class="text-uppercase btn btn-warning btn-sm float-right" data-toggle="modal"
                      data-target="#modal-reassign" ng-if="user_info.is_dept_head == '1' && user_info.department_id ==
                      project.department_id">
                      Re-assign Project
                    
                    </button> -->

                  </div>
                </div>

                <!-- <button class="btn btn-sm btn-success float-right"
                  ng-if="user_info.department_id == oneTask.department_id && user_info.is_dept_head =='1' && oneTask.is_approved == '0'">Approve
                  Now
                </button> -->



              </div>
            </div>

          </div>





          <div class="col-xl-12 col-lg-12" id="card-for-task__tasks" ng-if="project.tasks.length == 0">
            <div class="card" id="card-task_tasks">
              <div class="card-body text-center">

                <h5 class="card-title display-4 text-primary ">No task Available for ( {{project.name}} )</h5>

                <a class="h4 ml-5 text-white text-uppercase d-none d-lg-inline-block"
                  ng-href="add_task?project_id={{project.project_id}}&project_name={{project.name}}&department_id={{project.department_id}}&start_date={{project.start_date}}&end_date={{project.end_date}}"
                  ng-if="user_info.role == 'assigner'">
                  <button type="button" class="text-uppercase btn btn-primary btn-sm">
                    Add Task
                    <span class="ni ni-fat-add"></span>
                  </button>
                </a>
              </div>
            </div>

          </div>



        </div>


        <div class="row" ng-if="user_info.role == 'admin'">


          <div class="col-xl-3 col-lg-6 dash_card" ng-click="get_total_tasks(user_info.user_id, total_tasks.description, _user_info_role,
            user_info.department_id)">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{total_tasks.description}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{total_tasks.total_tasks}}</span>
                  </div>

                </div>
              </div>
            </div>
            <legend></legend>
          </div>


          <div class="col-xl-3 col-lg-6 dash_card" ng-click="get_tasks_by_is_approved(user_info.user_id, 0, unapproved_tasks.description, _user_info_role,
            user_info.department_id)">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="ni ni-fat-remove"></i>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{unapproved_tasks.description}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{unapproved_tasks.unapproved_count}}</span>
                  </div>

                </div>
              </div>
            </div>
            <legend></legend>
          </div>

          <div class="col-xl-3 col-lg-6 dash_card" ng-click="get_tasks_by_is_approved(user_info.user_id, 1, approved_tasks.description, _user_info_role,
            user_info.department_id)">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      <i class="ni ni-check-bold"></i>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{approved_tasks.description}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{approved_tasks.approved_count}}</span>
                  </div>

                </div>
              </div>
            </div>
            <legend></legend>
          </div>


          <div class="col-xl-3 col-lg-6 dash_card" ng-repeat="status in status_stats" ng-click="get_tasks_by_status_id(user_info.user_id, status.status_id, status.status, _user_info_role,
            user_info.department_id)">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="ni ni-settings"></i>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{status.status}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{status.status_count}}</span>
                  </div>
                </div>

              </div>
            </div>
            <legend></legend>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container-fluid mt--7">
    {{project.tasks.length}}
    <!-- Table -->
    <div class="row" ng-if="project.tasks.length > 0">
      <div class="col-md-4">
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" id="exportBtnTasks">
          ( {{ project.tasks.length}} ) - Tasks for PROJ-0000{{ project.project_id }}
          &nbsp; &nbsp;<span class="ni ni-cloud-download-95"></span>
        </a>  
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-4">
            <!-- <div class="col-xl-3"> -->
              <input class="form-control" placeholder="Search" type="text" ng-model="tableSearch" style="height: auto;">
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <div class="table-responsive">
          <legend></legend>
          <table class="table align-items-center table-flush" id="tasksTable">
            <thead class="thead-light">
              <tr>
                <th scope="col">Task ID</th>
                <th scope="col">Task</th>
                <th scope="col">Priority</th>
                <th scope="col">Clients</th>

                <th scope="col">Status</th>

                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Developer</th>
                <th scope="col">( % )</th>
                <th scope="col">Last Update Date</th>
                <th scope="col">Last Update</th>
              </tr>
            </thead>

            <tbody>
              
              <tr ng-repeat="task in project.tasks | filter: tableSearch">
                <th scope="row">
                  <div class="media align-items-center">
                    <!-- <a href="task_detail/{{task.task_id}}" >REF-0000{{task.task_id}}</a> -->
                    <!-- <a href="task_detail/{{task[0].task_id_base64Encode}}">REF0000{{task.task_id}}</a> -->
                    <a href="task_detail/{{task.task_id}}">REF0000{{task.task_id}}</a>
                    <!-- REF-0000{{task.task_id}}  -->
                  </div>
                </th>
                <td style="max-width: 300px;">
                  <div class="col-12 text-truncate" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                    <!-- <a href="task_detail/{{task.task_id}}" >{{task.description}}</a> -->
                    {{task.description}}
                  </div>

                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{task.priority}}
                  </span>
                </td>
                <td>
                  {{task.client}}
                </td>


                <td>
                  <!-- <span class="badge badge-default" ng-if="task.status == 'unapproved'">{{ task.status }}</span> -->
                  <span class="badge badge-warning" ng-if="task.status == 'suspended'">{{ task.status }}</span>
                  <!-- <span class="badge badge-success" ng-if="task.status == 'approved'">{{ task.status }}</span> -->
                  <span class="badge badge-default" ng-if="task.status == 'not started'">{{ task.status }}</span>
                  <span class="badge badge-success" ng-if="task.status == 'in progress'">{{ task.status }}</span>
                  <span class="badge badge-primary" ng-if="task.status == 'completed'">{{ task.status }}</span>


                </td>
                <td>
                  {{task.start_date | date: mediumDate}}
                </td>
                <td>
                  {{task.end_date | date: mediumDate}}
                </td>

                <td>
                  {{task.assigned_to}}
                </td>

                <td class="text-center">
                  <div class="d-flex align-items-center">
                    <span class="">{{task.completion}}</span>
                  </div>
                </td>
                
                <td class="text-center">
                  <div class="d-flex align-items-center">
                    <span class="">{{task.last_update_date}}</span>
                  </div>
                </td>


                <td class="text-center">
                  <div class="d-flex align-items-center">
                    <span class="">{{task.last_update}}</span>
                  </div>
                </td>


              </tr>


            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>


  <!-- START OF APPROVE MODAL -->
  <div class="modal fade" id="modal-approve" tabindex="-1" role="dialog" aria-labelledby="modal-add-codex"
    aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
      <div class="modal-content">

        <div class="modal-body p-0">
          <div class="card bg-secondary shadow border-0">

            <div class="card-body px-lg-5 py-lg-4" ng-if=" project.project_status == 'drafts' ">
              <div class=" text-muted ">
                <legend></legend>

                <span class="text-primary"> Update project status </span>

                <hr>

              </div>

              <div class="col-md-12 form-group mb-3">
                <div class="input-group input-group-alternative">

                  <input class="form-control text-uppercase" placeholder="PRO-0000{{ project.project_id }}" type="text"
                    disabled>
                </div>
              </div>
              <div class="col-md-12 form-group mb-3">
                <div class="input-group input-group-alternative">

                  <input class="form-control text-uppercase" placeholder="{{ project.project_status}}" type="text"
                    disabled>
                </div>
              </div>
              <div class="modal-footer">

                <button type="submit" ng-click="submit_for_approval()"
                  class="btn btn-success btn-sm float-right mr-4">Submit for approval</button>
                &nbsp;&nbsp;<button type="button" class="btn btn-warning btn-sm float-right "
                  data-dismiss="modal">Close</button>

              </div>
            </div>

            <div class="card-body px-lg-5 py-lg-4" ng-if="project.project_status == 'unapproved' ">
              <div class=" text-muted ">
                <legend></legend>

                <span class="text-primary"> Update project status </span>

                <hr>

              </div>

              <div class="col-md-12 form-group mb-3">
                <div class="input-group input-group-alternative">

                  <input class="form-control text-uppercase" placeholder="PRO-0000{{ project.project_id }}" type="text"
                    disabled>
                </div>
              </div>
              <div class="col-md-12 form-group mb-3">
                <div class="input-group input-group-alternative">

                  <input class="form-control text-uppercase" placeholder="{{ project.project_status}}" type="text"
                    disabled>
                </div>
              </div>
              <div class="col-md-12 form-group mb-3">
                <label for="">Comment</label><br>
                <div class="input-group input-group-alternative">


                  <textarea class="form-control" rows="5" id="comment_approve_or_reject"></textarea>
                </div>
              </div>
              <div class="modal-footer">

                <button type="submit" ng-click="approve_project()"
                  class="btn btn-success btn-sm float-right mr-4">Approve </button>
                <button type="submit" ng-click="reject_project()" class="btn btn-danger btn-sm float-right mr-4">Reject
                </button>
                &nbsp;&nbsp;<button type="button" class="btn btn-secondary btn-sm float-right "
                  data-dismiss="modal">Close </button>

              </div>
            </div>

            <div class="card-body px-lg-5 py-lg-4" ng-if="project.owner_id == user_info.user_id ">
              <div class=" text-muted ">
                <legend></legend>

                <span class="text-primary"> Update project status </span>

                <hr>

              </div>

              <div class="col-md-12 form-group mb-3">
                <div class="input-group input-group-alternative">

                  <input class="form-control text-uppercase" placeholder="PRO-0000{{ project.project_id }}" type="text"
                    disabled>
                </div>
              </div>
              <div class="col-md-12 form-group mb-3">
                <div class="input-group input-group-alternative">

                  <input class="form-control text-uppercase" placeholder="{{ project.project_status}}" type="text"
                    disabled>
                </div>
              </div>
              <div class="col-md-12 form-group mb-3">
                <label for="">Comment</label><br>
                <div class="input-group input-group-alternative">


                  <textarea class="form-control" rows="5" id="comment_approve_or_reject"></textarea>
                </div>
              </div>
              <div class="modal-footer">

                <button type="submit" ng-click="suspend_project()" class="btn btn-danger btn-sm float-right mr-4">Suspend
                </button>
                &nbsp;&nbsp;<button type="button" class="btn btn-secondary btn-sm float-right "
                  data-dismiss="modal">Close </button>

              </div>
            </div>


          </div>
        </div>


      </div>
    </div>
  </div>


  <!-- START OF RE-ASSIGN MODAL -->
  <div class="modal fade" id="modal-reassign" tabindex="-1" role="dialog" aria-labelledby="modal-add-codex"
    aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
      <div class="modal-content">

        <div class="modal-body p-0">
          <div class="card bg-secondary shadow border-0">

            <div class="card-body px-lg-5 py-lg-4">
              <div class=" text-muted ">
                <legend></legend>


                <span class="text-primary"> Re-assign -> PRO-0000{{ project.project_id }} </span>

                <hr>



                <div class="col-md-12 form-group mb-3">
                  <label for="">Select a department</label>
                  <div class="input-group input-group-alternative">

                    <select class="form-control " required ng-model="re_department_id">
                      <option value="">--Filter by Department--</option>
                      <option ng-value="department.department_id" ng-repeat="department in departments">
                        {{department.department_desc}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label for="">Comment</label><br>
                  <div class="input-group input-group-alternative">


                    <textarea class="form-control" rows="5" id="comment_for_reassign"></textarea>
                  </div>
                </div>

                <div class="modal-footer">

                  <button type="submit" ng-click="reassign_project(re_department_id)"
                    class="btn btn-success btn-sm float-right mr-4">Submit for approval</button>
                  &nbsp;&nbsp;<button type="button" class="btn btn-warning btn-sm float-right "
                    data-dismiss="modal">Close</button>

                </div>
              </div>


            </div>
          </div>


        </div>
      </div>
    </div>
  </div>



</div>

<script>
  $(document).ready(function () {

$("#exportBtnTasks").click(function (e) {

  var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
  var textRange; var j=0;
  tab = document.getElementById('tasksTable'); // id of table

  for(j = 0 ; j < tab.rows.length ; j++)
  {
      tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
      //tab_text=tab_text+"</tr>";
  }

  tab_text=tab_text+"</table>";
  tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
  tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
  tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

  var ua = window.navigator.userAgent;
  var msie = ua.indexOf("MSIE");

  if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
  {
      txtArea1.document.open("txt/html","replace");
      txtArea1.document.write(tab_text);
      txtArea1.document.close();
      txtArea1.focus();
      sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
  }
  else                 //other browser not tested on IE 11
      sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
});

});
</script>