<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main"><br>
  <ng-include src="'./side_nav.html'" ng-controller="SideNavCtrl"></ng-include>
</nav>

<div class="main-content">
  <!-- Navbar -->
  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="h4 mb-0  text-uppercase d-none d-lg-inline-block btn btn-sm btn-secondary" href="#"
        id="toggle_user_dispaly"> Create Users
        <span class="ni ni-fat-add"></span>
      </a>

      <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text" ng-model="tableSearch" style="height: auto;">
          </div>
        </div>
      </form>

      <!-- User -->
      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media align-items-center">

              <span class="avatar avatar-sm rounded-circle" ng-if="profile_pic_true == null">
                <span ng-if="user_info.gender == 'Male'">
                  <img src="./assets/img/theme/m_profile_icon.jpg" class="rounded-circle">
                </span>
                <span ng-if="user_info.gender == 'Female'">
                  <img src="./assets/img/theme/f_profile_icon.png" class="rounded-circle">
                </span>
                <!-- <img alt="Image placeholder" src="./assets/img/theme/team-4-800x800.jpg"> -->
              </span>

              <span class="avatar avatar-sm rounded-circle" ng-if="profile_pic_true != null">
                <img alt="Image placeholder" ng-src="{{ profile_pic }}">
              </span>


              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold text-uppercase">{{user_info.username}}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome {{user_info.username}}</h6>
            </div>
            <a href="profile" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Settings</span>
            </a>
            <a class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Activity</span>
            </a>
            <a class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ng-click="logout()">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header -->
  <div class="header bg-gradient-primary pb-5 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">

      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">

    <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-10">

        <span class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">( {{all_users.length}} ) -
          users</span>

        <div class="card shadow">

          <div class="table-responsive" id="show_user_row">
            <legend></legend>
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"> Full Name</th>
                  <th scope="col">Dapartment</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="user in all_users | filter: tableSearch">
                  <th scope="row">
                    {{$index + 1}}
                  </th>
                  <td>
                    {{user.f_name}} {{user.l_name}}
                  </td>
                  <td>
                    {{user.department}}
                  </td>
                  <td>
                    {{user.email}}
                  </td>
                  <td>
                    {{user.phone}}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i> Active
                    </span>
                  </td>

                  <td>
                    <span class="fas fa-pencil-alt text-blue"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="fas fa-trash text-red"></span>
                  </td>



              </tbody>
            </table>
          </div>

        </div>

      </div>

      <div class="col-md-1"></div>

    </div>

    <div class="row" id="add_user_row">
      <div class="col-md-1"></div>

      <div class="col-md-10">


        <div class="jumbotron-fluid bg-secondary container-fluid">
          <br><br>
          <form role="form" id="form_add_user"
            ng-submit="addUser(first_name_, last_name_, username_, gender_, email_, phone_number_, country_, city_, postal_address_, department_, is_manager, role_, can_approve_)">
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>

                    <input class="form-control" placeholder="First Name" type="text" ng-model="first_name_" required>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>

                    <input class="form-control" placeholder="Last Name" type="text" ng-model="last_name_" required>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>

                    <input class="form-control" placeholder="Username" type="text" ng-model="username_" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <select class="form-control" ng-model="gender_" required>
                      <option value=""> Gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-8">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>

                    <input class="form-control" placeholder="Email" type="email" ng-model="email_" required>
                  </div>
                </div>
              </div>



            </div>

            <div class="row">

              <div class="col-4">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>

                    <input class="form-control" placeholder="Phone Number" type="text" ng-model="phone_number_">
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <select class="form-control" ng-model="country_">
                      <option value="">Country</option>
                      <option ng-repeat="country in countries" ng-value="country.name">{{country.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-building"></i></span>
                    </div>

                    <input class="form-control" placeholder="City" type="text" ng-model="city_" required>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-12">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">

                    <input class="form-control" placeholder="Postal Address" type="text" ng-model="postal_address_">
                  </div>
                </div>
              </div>



            </div>

            <div class="row">

              <div class="col-5">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <select class="form-control" ng-model="department_" required>
                      <option value=""> Department </option>
                      <option ng-repeat="dpt in departments" ng-value="dpt.code_desc_id">
                        {{dpt.code_desc}} </option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col-3">
                <label for="" class="text-primary">Department Head?</label>

              </div>

              <div class="col-2">
                <div class="custom-control custom-radio mb-0">
                  <input name="custom-radio-2" class="custom-control-input" id="customRadio5" type="radio"
                    ng-model="is_manager" ng-value="1" required>
                  <label class="custom-control-label" for="customRadio5">Yes</label>
                </div>

              </div>

              <div class="col-2">
                <div class="custom-control custom-radio mb-0">
                  &nbsp;&nbsp;
                  <input name="custom-radio-2" class="custom-control-input" id="customRadio6" type="radio" checked
                    ng-model="is_manager" ng-value="0" required>
                  <label class="custom-control-label" for="customRadio6">No</label>
                </div>

              </div>



              <div class="col-3">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <select class="form-control" ng-model="role_" required>
                      <option value="">User Role</option>
                      <option ng-repeat="rol in roles" ng-value="rol.code_desc_id" ng-hide="rol.code_desc == 'admin'">
                        {{rol.code_desc}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col-4">
                <label for="" class="text-primary">Can user approve project? </label>

              </div>

              <div class="col-2">
                <div class="custom-control custom-radio mb-0">
                  <input name="custom-radio-3" class="custom-control-input" id="customRadio3" type="radio"
                    ng-model="can_approve_" ng-value="1" required>
                  <label class="custom-control-label" for="customRadio3">Yes</label>
                </div>

              </div>

              <div class="col-2">
                <div class="custom-control custom-radio mb-0">
                  &nbsp;&nbsp;
                  <input name="custom-radio-3" class="custom-control-input" id="customRadio4" type="radio" checked
                    ng-model="can_approve_" ng-value="0" required>
                  <label class="custom-control-label" for="customRadio4">No</label>
                </div>

              </div>


            </div>


            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Create </button>
              <a href="/dashboard_t">
                <button type="button" class="btn btn-warning">Cancel</button>
              </a>


            </div>
          </form>

        </div>

      </div>

      <div class="col-md-1"></div>
    </div>



  </div>

</div>






</div>

<script>
  $(document).ready(function () {
    $('#data_table').DataTable();
    $('#add_user_row').hide()
    $('#toggle_user_dispaly').on('click',
      function () {
        $('#add_user_row, #show_user_row').toggle()
      }
    );
  });
</script>